html, body {
	overflow-x: hidden;
	background-color: lightgrey;
}
h2, .full-width {
  position: relative; /* child absolute */
  margin: 0 -9999rem;
  /* add back section padding value */
  padding: .25rem 9999rem;
  background: #666;
  background: rgba(0, 0, 0,.5);
  color: white;
  font-size: 1.125rem;
	font-family: "Arial";
}
#titlebar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 15px 15px 15px 15px;
	color: white;
	background-color: darkgrey;
	font-family: "Arial";
	font-size: 16px;
}
#footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20px;
	color: white;
	padding: 15px 15px 15px 15px;
	background-color: darkgrey;
	font-family: "Arial";
	font-size: 16px;
}
#content{
	padding-top: 3.25rem;
	width: 50%;
}
#form_content{
	background-color: lightblue;
	padding: 15px 15px 15px 15px;
}
.top-bar {
	margin-bottom: 1em;
}
h1 {
  color: blue;
  font-size: 25px;
}
a {
  color: red;
  font-size: 16px;
}
.button {
    background-color: #5DADE2; /* Blue */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    float: center;
}
.button:hover {
    background-color: #2E86C1;
}
.button:disabled {
    background-color: #AED6F1;
		cursor: default;
}
input {
    width: 10%;
		font-size: 16px;
		padding: 12px 12px 12px 12px;
}
