<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - ENGR-325</title>
    {% endblock %}
  </head>
  <body>
    <div id="titlebar">ENGR-325 Interface</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2016 by Jonathan Manni and Peter Oostema.
      {% endblock %}
    </div>
  </body>
</html>
