{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <style type="text/css">
    .important { color: #336699; }
  </style>
  <script src="static/jquery-3.1.1.min.js"> </script>
  <script src="static/script.js"></script>
{% endblock %}
{% block content %}
  <form action="/" method="post" role="form">
    <table>
      <tr>
        <td>
        LED 0:
        </td>
        <td>
        <input name="LED0" id="LED0_time" class="input_box">
        <button type="button" class="button" id="LED0">Update LED0</button>
        </td>
      </tr>
      <tr>
        <td>
        LED 1:
        </td>
        <td>
        <input name="LED1" id="LED1_time" class="input_box">
        <button type="button" class="button" id="LED1">Update LED1</button>
        </td>
      </tr>
      <tr>
        <td>
          MOTOR 0:
        </td>
        <td>
          <input name="MOTOR0" id="MOTOR0_steps" class="input_box">
          <button type="button" class="button" id="MOTOR0">Update MOTOR0</button>
        </td>
      </tr>
    </table>
  </form>
{% endblock %}
